In [3]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session


# create connection engine - Connect object for Core
engine = create_engine('mysql+mysqldb://root:root@localhost/taxdata')
statement = text("SELECT * FROM taxdata.clients")
with Session(engine) as session:
    result = session.execute(statement)
    # session.commit()
    for row in result:
        print(f"name: {row.firstname} ID:{row.clientid}")

name: Swetha ID:20001
name: John ID:20002
name: Jane ID:20003
name: Asuma ID:20004
name: Neji ID:20005
name: Shikamaru ID:20006
name: Naruto ID:20007
name: Kakashi ID:20008
name: Harry ID:20009
name: Adolf ID:20011
name: Karen ID:20012
name: Mary ID:20016

In [16]:
# create Table object in SQLAlchemy
from sqlalchemy import MetaData, Table, Column, Integer, String
meta_obj = MetaData()
user_table = Table('users', meta_obj,
                  Column('id', Integer, primary_key=True),
                  Column('firstname', String(30)),
                  Column('lastname', String(30)),
                  Column('type', String(30)),
                  Column('employeeid', Integer))

In [17]:
# get all column names in Table object user_table
user_table.c.keys()

['id', 'firstname', 'lastname', 'type', 'employeeid']

In [18]:
user_table.primary_key

PrimaryKeyConstraint(Column('id', Integer(), table=<users>, primary_key=True, nullable=False))